@model IEnumerable<SummerProject.Models.Author>

@{
    ViewData["Title"] = "Authors";
}

<h2>Authors</h2>

<p>
    <a asp-action="Create" >Create New Author</a>
</p>

<table >
    <thead>
        <tr>
            <th>Name</th>
            <th>Books</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var author in Model)
        {
            <tr>
                <td>@author.Name</td>
                <td>
                    @if (author.Books.Any())
                    {
                        <ul>
                            @foreach (var book in author.Books)
                            {
                                <li>@book.Title</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <span>No Books</span>
                    }
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@author.Id">Details</a>
                    <a asp-action="Edit" asp-route-id="@author.Id">Edit</a>
                    <a asp-action="Delete" asp-route-id="@author.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
